# Mac OSX
.DS_Store

# Redis config file
redisconfig.js

# Twilio config file
twilioconfig.js

# Node modules
node_modules

# Database config file for Sequalize
database/sequalize-config.js

# Transpiled React components
client/dist/js/
customerApp-bundle.js
managerApp-bundle.js
queueinfo-bundle.js
server.bundle.js
